<!-- Button trigger modal -->
<div style="text-align: center;">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        What's on your mind, <%= locals.user.firstname %>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/post/create_post" method="POST">
                    <textarea cols="60" rows="6" name="content"
                        placeholder="What's on your mind, <%= locals.user.firstname %>"
                        style="border: none; outline: none;"></textarea>
                    
                    <br>
                    <br>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"> Add to your Post</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>