<link rel="stylesheet" href="/css/indexpage.css">
<div class="wrapper">
    <div class="title-text">
        <div class="title login">
            Forget Password</div>
    </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="/user/Forgot_password" class="login" method="POST">
                <div class="field">
                    <input type="text" name="email" placeholder="Username" required>
                </div>
                <div class="field">
                    <input type="password" name="password" placeholder="New Password" required>
                </div>
                <div class="field btn">
                    <div class="btn-layer">
                    </div>
                    <input type="submit" value="Change password">
                </div>

<script src="/js/index.js">
</script>




